- var emailHash = md5(user.emailAddress);
doctype
html(lang='en')
    include ./includes/header.jade
body
    include ./includes/nav.jade
    .container
        div(class='row', style='padding-top:10vh;')
            .col.s12.m8.offset-m2
                .card.blue-grey.lighten-5
                    .card-content
                        .card-title 
                            img(class='responsive-img circle', style='margin-bottom:-2px;' src="http://www.gravatar.com/avatar/#{md5(user.emailAddress)}?d=identicon&s=20", alt="Profile Picture") 
                            | &nbsp;&nbsp;Hey #{user.firstName}
                        p.grey-text.text-darken-1 #{client.applicationName} is requesting access to your account. This means #{client.applicationName} can perform all the actions you can on the account. #{client.applicationName} can also view all of your information related to your account, except your birthday, for which #{client.applicationName} is only given approximate knowledge, for smart recomendations. 
                        div(class='row', style='padding-top: 3vh;')
                        .card-action
                            .row
                                form(action='/api/#{apiVersion}/auth/decision', method='POST')
                                    input(type='hidden', name='transaction_id', value='#{transactionId}') 
                                    div(id='allow_submit', class='col')    
                                        button(class='waves-effect waves-light btn', type='submit') Allow
                                    div(class='col offset-sm3')
                                        button(class='waves-effect waves-light btn', type='submit', name='cancel' value='Deny') Deny
        include ./includes/footer.jade
    
