nav
    .nav-wrapper
        a.brand-logo.center.brand-font WISHLIST
        a(data-activates='mobile-menu', class='button-collapse', href='javascript:void(0)', style='padding-left:10px;')
            i.material-icons menu
        ul.hide-on-med-and-down.left
            li(class='#{selectedLink.about || ""}') 
                a(href="#") About
            //- li(class='#{selectedLink.recommended_apps || ""}')
            //-     a(href="#") Recommended Apps
            li(class='#{selectedLink.docs || ""}')
                a(href="/api/docs") API Documentation
        if !user
            ul.hide-on-med-and-down.right
                li(class='#{selectedLink.signup || ""}')
                    a(href="/api/#{apiVersion}/auth/sign-up") Sign Up
                li(class='#{selectedLink.login || ""}')
                    a(href="/api/#{apiVersion}/auth/login") Log In
        else 
            ul.hide-on-med-and-down.right
                li(class='#{selectedLink.signup || ""} active')
                    a(href="/api/#{apiVersion}/auth/me") #{user.username}
        div.side-nav#mobile-menu
            h4.grey-text.center.brand-font WISHLIST
            .divider
            ul    
                li 
                    a(href="/api/#{apiVersion}/auth/sign-up") Sign Up
                li
                    a(href="/api/#{apiVersion}/auth/login") Log In
                li 
                    a(href="#") About
                //- li
                //-     a(href="#") Recommended Apps
                li
                    a(href="/api/docs") API Documentation
            .divider
            .grey-text.center Rob Calcroft &copy; 2015
